@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

.scrollbar-thin {
	scrollbar-width: thin;
	scrollbar-color: var(--foreground) #bd9cc4;
}

.loader {
	width: 90px;
	height: 40px;
	display: grid;
	--c: #9900cc calc(100% - 5px), #000 calc(100% - 4px) 96%, #0000;
	background: radial-gradient(farthest-side at bottom, var(--c)) 0 0, radial-gradient(farthest-side at top, var(--c)) 100% 100%;
	background-size: calc(50% + 2px) 50%;
	background-repeat: no-repeat;
	animation: l14 1.5s infinite linear;
}
.loader:before,
.loader:after {
	content: "";
	grid-area: 1/1;
	background: inherit;
	animation: inherit;
	animation-duration: 2s;
}
.loader:after {
	--s: -1;
}
@keyframes l14 {
	100% {
		transform: rotate(calc(var(--s, 1) * 1turn));
	}
}
