@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

.scrollbar-thin {
	scrollbar-width: thin;
	scrollbar-color: var(--foreground) #bd9cc4;
}

.loader {
	width: 65px;
	aspect-ratio: 1;
	position: relative;
}
.loader:before,
.loader:after {
	content: "";
	position: absolute;
	border-radius: 50px;
	box-shadow: 0 0 0 3px inset #000;
	animation: l4 2.5s infinite;
}
.loader:after {
	animation-delay: -1.25s;
}
@keyframes l4 {
	0% {
		inset: 0 35px 35px 0;
	}
	12.5% {
		inset: 0 35px 0 0;
	}
	25% {
		inset: 35px 35px 0 0;
	}
	37.5% {
		inset: 35px 0 0 0;
	}
	50% {
		inset: 35px 0 0 35px;
	}
	62.5% {
		inset: 0 0 0 35px;
	}
	75% {
		inset: 0 0 35px 35px;
	}
	87.5% {
		inset: 0 0 35px 0;
	}
	100% {
		inset: 0 35px 35px 0;
	}
}
